@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --main-color: rgb(255, 103, 42);
    --second-color: rgb(205, 94, 50);
    --hover-color: rgb(135, 54, 24);
    --search-bar-btn-color: rgb(224, 224, 224);
    --search-bar-btn-hover: rgb(158, 158, 158);
    --dropbox-color: rgb(255, 255, 255);
    --body-color: rgb(231, 231, 231);
    --content-color: rgb(255, 255, 255);
    --home-slide-margin-pc: -900px;
    --home-slide-margin-tablet: -630px;
    --home-slide-margin-mobile: -315px;
    --sale-index: 0;
    --danhmuc-bg-color: rgb(255, 255, 255);
    --shadow: 0 0 3px 1px black;
}

body {
    display: flex;
    justify-content: center;
    background: var(--body-color);
}

.web-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:focus {
    outline: none;
}

/* PC */

.navbar {
    position: fixed;
    background: var(--main-color);
    width: 100vw;
    height: 70px;
    z-index: 20;
}

.navbar-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar-content .navbar-item {
    background: transparent;
    height: 100%;
    position: relative;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar-logo a img {
    position: relative;
    height: 40px;
    background-position: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 5px;
}

.navbar-logo a span {
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: "Varela Round", sans-serif;
}

.navbar-search {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-search .searchbar {
    background: white;
    height: 70%;
    width: 600px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar .search-input {
    background: transparent;
    width: 90%;
    height: 100%;
    text-indent: 10px;
    font-size: 15px;
}

.searchbar .search-btn {
    background: var(--search-bar-btn-color);
    height: 70%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: .2s ease;
}

.searchbar .search-btn:hover {
    background: var(--search-bar-btn-hover);
}

.navbar-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
}

.navbar-category .category-button {
    background: var(--second-color);
    height: 70%;
    width: 150px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    transition: .2s ease;
}

.category-button ion-icon {
    margin-right: 5px;
}

.category-button:hover {
    background: var(--hover-color);
}

.navbar-account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    position: relative;
    user-select: none;
}

.navbar-account .user-btn {
    margin-right: 10px;
    width: 120px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.navbar-account .user-dropdown {
    position: absolute;
    margin-right: 10px;
    width: 120px;
    height: 100%;
    top: 100%;
    display: flex;
    justify-content: center;
}

.user-btn:hover {
    background: var(--hover-color);
}

.user-btn .user-name {
    font-size: 15px;
}

.user-btn ion-icon {
    font-size: 40px;
    margin-left: 10px;
}

.user-dropdown .navbar-account-drop {
    display: block;
}

.navbar-account-drop ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border-top: 0;
}

.navbar-account-drop ul li {
    background: var(--hover-color);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .2s ease;
}

.navbar-account-drop ul li:hover {
    background: var(--second-color);
}

.user-dropdown .nologin {
    display: none;
}

.user-dropdown .logged {
    display: none;
}

.sale-banners {
    position: relative;
    margin-top: 70px;
    width: 100vw;
    background: var(--content-color);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale-slides {
    position: relative;
    background: transparent;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale-slides .slides {
    border: 3px solid var(--main-color);
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    overflow: hidden;
}

.sale-slides .slides img {
    width: inherit;
    height: inherit;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .7s ease;
}

.sale-slides .slide-btn {
    position: absolute;
    z-index: 2;
    color: white;
    background: var(--main-color);
    opacity: .4;
    box-shadow: 0px 0px 5px 1px var(--main-color);
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform-origin: center center;
    transition: .2s ease;
    user-select: none;
}

.sale-slides .slide-btn:hover {
    transform: scale(1.2);
    opacity: 1;
}

.sale-slides .next-slide {
    right: 15px;
}

.sale-slides .prev-slide {
    left: 15px;
}

.sale-slides .slides .first {
    margin-left: calc(var(--home-slide-margin-pc) * var(--sale-index));
}

.body-category {
    position: relative;
    margin-top: 40px;
    background: var(--content-color);
    width: 1200px;
    
}

.body-category h2 {
    display: flex;
    align-items: center;
    margin: 20px 0 0 20px;
    color: rgb(89, 89, 89);
}
.body-category h2 ion-icon {
    margin-right: 5px;
}

.body-category .danhmuc-container {
    margin-top: 10px;
    width: 94%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    background: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.danhmuc-container .danhmuc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px black;
    width: 120px;
    height: 140px;
    margin: 20px;
    transform-origin: center center;
    transition: .3s ease;
}

.danhmuc-item:hover {
    transform: scale(1.1);
    background: linear-gradient(rgb(220, 220, 220), rgb(255, 255, 255));
}

.danhmuc-item img {
    width: 90%;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s ease;
}

.danhmuc-item span {
    color: black;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    transition: .3s ease;
}

.danhmuc-container .danhmuc-item:hover img {
    width: 95%;
}

.danhmuc-container .danhmuc-item:hover span {
    opacity: 1;
}

.flash-sale {
    margin-top: 40px;
    background: var(--content-color);
    width: 1200px;
}

.flash-sale-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flash-sale .flash-sale-head h2 {
    color: var(--main-color);
    font-size: 30px;
    margin: 20px 0 0 30px;
    font-weight: bold;
}

.flash-sale .flash-sale-head h2 ion-icon {
    margin-right: 10px;
}

.flash-sale-head a {
    font-size: 15px;
    color: var(--main-color);
    font-weight: bold;
    margin: 15px 30px 0 0;
}

.flash-sale .flash-sale-display {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-sale-display .flash-sale-container {
    background: transparent;
    width: 95%;
    height: 370px;
    display: flex;
    justify-content: space-evenly;
}

.flash-sale-container .flash-sale-display-item {
    width: 215px;
    background: linear-gradient(var(--main-color), rgb(255, 255, 165));
    height: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease;
}

.flash-sale-container .flash-sale-display-item:hover {
    transform: scale(1.05);
}

.flash-sale-display-item img {
    width: 90%;
    aspect-ratio: 1/1;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flash-sale-display-item .tensanpham {
    text-align: left;
    margin-top: 10px;
    width: 95%;
    height: 100px;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flash-sale-display-item .giacu {
    text-align: right;
    margin-top: 10px;
    width: 95%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: line-through;
}

.flash-sale-display-item .giatien {
    margin: 5px 0;
    width: 95%;
    text-align: right;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}
/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .navbar-search .searchbar {
        width: 350px;
    }

    .navbar-account {
        width: 100px;
    }

    .sale-slides {
        width: 630px;
        height: 350px;
    }

    .sale-slides .slides .first {
        margin-left: calc(var(--home-slide-margin-tablet) * var(--sale-index));
    }

    .body-category {
        width: 900px;
    }

    .danhmuc-container .danhmuc-item span {
        opacity: 1;
    }

    .flash-sale {
        width: 900px;
    }

    .flash-sale-display-item:nth-child(3) {
        display: none;
    }

    .flash-sale-display-item:nth-child(4) {
        display: none;
    }
}

/* Mobile */

@media (max-width: 767px) {

    .navbar-category {
        display: none;
    }

    .navbar-account {
        display: none;
    }

    .navbar-logo {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-search {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
    }

    .navbar-search .searchbar {
        width: 100%;
    }

    .sale-slides {
        width: 360px;
        height: 200px;
    }

    .sale-slides .slides .first {
        margin-left: calc(var(--home-slide-margin-mobile) * var(--sale-index));
    }

    .sale-slides .slide-btn {
        width: 30px;
        font-size: 12px;
    }

    .body-category {
        width: 100vw;
    }

    .danhmuc-container .danhmuc-item span {
        opacity: 1;
    }

    .body-category .danhmuc-container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    .danhmuc-container .danhmuc-item {
        margin: 20px 40px;
    }

    .flash-sale {
        width: 100vw;
    }
    
    .flash-sale-display-item:nth-child(3) {
        display: none;
    }

    .flash-sale-display-item:nth-child(4) {
        display: none;
    }

    .flash-sale-display-item:nth-child(5) {
        display: none;
    }

    .flash-sale-container .flash-sale-display-item {
        width: 180px;
    }
}